<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9vawgEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAABAMAAAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAGVsbGlvdGNoYW5nAAcA
		AAABAQAATGlicmFyeQAUAAAAAQEAAEF1dG9zYXZlIEluZm9ybWF0aW9uIgAA
		AAEBAABVbnNhdmVkIFhjb2RlIERvY3VtZW50Lnhjd29ya3NwYWNlAAAUAAAA
		AQYAAAQAAAAUAAAAKAAAADgAAABUAAAACAAAAAQDAACSOAAAAAAAAAgAAAAE
		AwAAScsDAAAAAAAIAAAABAMAAFDLAwAAAAAACAAAAAQDAABSywMAAAAAAAgA
		AAAEAwAAI8d2AQAAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwAAADcAAAACAAA
		AAAEAABBxWqHLXBqYhgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
		CAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
		AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHF
		UY6YgAAAJAAAAAEBAABGMzk2NTA3NC1CMkU4LTQwNzgtODVGQi04NjMwNDc1
		NjhBRTIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
		LwAAAAAAAAABBQAABAEAAAECAAAyN2U5NGEwMTlmODM2ZDlhODIxZWI4MWVi
		OGUyMmE3YWQzMzM0YjUwNjFjOGMxOGQzNTdhMDFlZmNhZGVhMWFkOzAwOzAw
		MDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
		LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMGU7MDAw
		MDAwMDAwMTc2YzcyMzs4NjsvdXNlcnMvZWxsaW90Y2hhbmcvbGlicmFyeS9h
		dXRvc2F2ZSBpbmZvcm1hdGlvbi91bnNhdmVkIHhjb2RlIGRvY3VtZW50Lnhj
		d29ya3NwYWNlAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIAAAAAAAAAABRAA
		AOwAAAAAAAAAEBAAABgBAAAAAAAAQBAAAAgBAAAAAAAAAiAAAOQBAAAAAAAA
		BSAAAFQBAAAAAAAAECAAAGQBAAAAAAAAESAAAJgBAAAAAAAAEiAAAHgBAAAA
		AAAAEyAAAIgBAAAAAAAAICAAAMQBAAAAAAAAMCAAAPABAAAAAAAAAcAAADgB
		AAAAAAAAEcAAABQAAAAAAAAAEsAAAEgBAAAAAAAAgPAAAPgBAAAAAAAA
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2023-10-10T05:26:57Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
