<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7PX0dGMak-u66X4lnPUA12Sw05VKIsMA</string>
	<key>GCM_SENDER_ID</key>
	<string>11609783300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>placeholder</string>
	<key>PROJECT_ID</key>
	<string>netly-24f2d</string>
	<key>STORAGE_BUCKET</key>
	<string>netly-24f2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11609783300:ios:0b7e3e67cc210d84a54951</string>
</dict>
</plist>